@import url('formStyle.css');
@import url('navStyle.css'); 
@import url('structureStyle.css'); 
@import url('tableStyle.css'); 

.fa-square-twitter
{
   font-size: 100px;
   color:skyblue;
}
.fa-square-instagram
{
    font-size: 70px;
    color:royal royalblue, blue, purple, dark pink, purple-red, red, dark orange, orange, yellow, light yellow;


}